<home-navbar />

<main class='default-main'>
  <section class='default-content'>

    <section class='selects'>
      <!--how to sort, date, location-->
      <p-select 
        [options]="sorts"
        [(ngModel)]="selectedSort"
      />
      <p-multiselect 
        [options]="categories"
        placeholder='Категории'
        [(ngModel)]="selectedCategories"
        selectedItemsLabel="{0} избрани категории" 
      />
      <p-multiselect
        [options]="countries"
        placeholder='Държави'
        [(ngModel)]="selectedCountries"
        selectedItemsLabel="{0} избрани държави" 
      />
    </section>

    <section class='search'>
    </section>

    <ul class='results'>

      <li class='results-title'>
      </li>

      <li class='results-category'>
      </li>

      <li class='results-location'>
      </li>

      <li class='results-author'>
      </li>

      <li class='results-all'>
      </li>

    </ul>

  </section>
</main>

