<home-navbar />

<main class='default-main'>
  <section class='default-content'>

    <section class='selects'>
      <!--how to sort, date, location-->
      <p-select />
      <p-multiselect />
      <p-multiselect />
    </section>

    <section class='search'>
    </section>

    <ul class='results'>

      <li class='results-title'>
      </li>

      <li class='results-category'>
      </li>

      <li class='results-location'>
      </li>

      <li class='results-author'>
      </li>

      <li class='results-all'>
      </li>

    </ul>

  </section>
</main>

