<header class='default-header'>
  <logo />
  <div>
    <a href='/account'>Моят профил</a>
  </div>
</header>
<main class='default-main'>
  <section class='default-content' *ngIf="!!offer">
    
    <section class='data' (input)="areChanges=true">
      
      <div class='item'>
        <span>Заглавие</span>
        <input [(ngModel)]="offer.title" class='default-input' disabled/>
      </div>
      <div class='item'>
        <span>Категория</span>
        <select [(ngModel)]="offer.category" class='default-input'>
          <option *ngFor="let category of categories | enumToArray" [value]="category.key">
          {{ category.val }}
          </option>
        </select>
      </div>
      <div class='item'>
        <span>Локация</span>
        <select [(ngModel)]="offer.location" class="default-input">
          <option *ngFor="let country of countries | enumToArray" [value]="country.key">
          {{ country.val }}
          </option>
        </select>
      </div>
      <div class='item'>
        <span>Цел</span>
        <input class='default-input' type='number' [(ngModel)]="offer.goal"/>
      </div>

      <div class='item-save'>
        <button class='default-input default-button' [ngClass]="{'disabled': !areChanges}" (click)="saveChanges()">
          Запази промени
        </button>
      </div>

    </section>

    <section class='data-inner' (input)="areChanges=true">
      <span>
        Съдържание
      </span>
      <p-editor [(ngModel)]="offer.text"  />
    </section>

  </section>
</main>
