<header class='default-header'>
  <logo />
</header>
<main>
  <section>
      <h1 class='mainh1'> Превърнете идеята си в реалност! </h1>
      <h2 class='mainh2'> За по-малко от 5 минути можете да наберете средства, с които за сбъднете предприемаческите си мечти</h2>
    <section class='step-one' *ngIf='!isContinued'>
      
      <section class='select category'>
        <h3>В коя сфера на бита планирате да разработите бизнеса си?</h3>
        <select [(ngModel)]="model.category"(input)='onStepOneInput()'>
          <option *ngFor="let category of categories | enumToArray" [value]="category.key">
          {{ category.val }}
          </option>
        </select>
      </section>

      <section class='select location' (input)='onStepOneInput()'>
        <h3>Къде ще разполжите бизнеса си?</h3>
        <select [(ngModel)]="model.location">
          <option [value]="'Bulgaria'">
            България
          </option>
          <option *ngFor="let country of countries | enumToArray" [value]="country.key">
          {{ country.val }}
          </option>
        </select>
      </section>
      
      <section class='select price'>
        <h3>Колко пари целите да наберете?</h3>
        <h4 class='subtext'>*В български лева</h4>
        <input [(ngModel)]='model.money' type='number' placeholder='0-100.0000' min='0' max='1000000' (input)='onStepOneInput()'/>
      </section>
      <div class='continue-button-cnt' *ngIf="!isContinued">
        <button [ngClass]="{'active': isContinueAllowed}" (click)='_continue()'>
          Продължаване
        </button>
      </div>
      
    </section>

    <section *ngIf="isContinued" class='step-two' (input)='onStepTwoInput()'>

      <section class='select title'>
        <h3>Въведете заглавие на офертата ви.</h3>
        <input type='text' placeholder='Заглавие' [(ngModel)]="model.title"/>
      </section>

      <section class='select cover'>
        <h3>Прикачете корична снимка, която да описва дейността ви.</h3>
        <h4></h4>
        <input type='file' placeholder='Заглавие' (change)='handleCoverUpload($event)' accept=".jpg, .jpeg, .png, .gif, .webm"/>
        <div #coverPreview class='preview'>
          <img src={{model.cover}} />
        </div>
      </section>

      <section class='select content'>
        <h3>Опишете офертата си. Може да вмъквате снимки, линкове, заглавия, подзаглавия списъци и други.<br/> С този текст целите да спечелите бъдещите си инвеститори.</h3>
        <p-editor [(ngModel)]="model.text"  />
      </section>

      <div class='action-buttons'>
        <button class='back' (click)='goBack()'>Назад</button>
        <button class='continue'[ngClass]="{'active': isCreateAllowed}" (click)='submit()'>Създай оферта</button>
      </div>
    </section>

  </section>
</main>
