<header>
  <nav>
    <logo />
    <form #searchForm="ngForm" class='search-cnt' (ngSubmit)="onSubmit(searchForm)">
      <input placeholder='Търси по заглавие, съдържание, автор...' type='text' [(ngModel)]="searchText" name="searchText" />
    </form>
    <div class='nav-buttons'>
      <button class='start-btn' routerLink='/initialize'>Създай оферта</button>

      <button *ngIf="!isLoggedIn" class='login-btn' routerLink='/login'>Вход</button>
      <button *ngIf="isLoggedIn" class='login-btn' routerLink='/account'>Моят профил</button>
    </div>
  </nav>
  <div class='results-container'>
  </div>
  <section class="categories">
    <span *ngFor="let num of [0, 1, 2, 3, 4]"> <a href="/search?categories={{ categories[num].enum }}">
        {{ categories[num].bg.split(' ')[0] }}
    </a></span>
    |
    <span>
      <a href='/search'>Търсене</a>
    </span>
  </section>
</header>
