<header>
  <nav>
    <logo />
    <div class='search-cnt'>
      <input placeholder='Търси по заглавие, категория, локация...' type='text' />
    </div>
    <div class='nav-buttons'>
      <button class='start-btn'>Създай оферта</button>
      <button class='login-btn' routerLink='/login'>Вход</button>
    </div>
  </nav>
  <div class='results-container'>
  </div>
  <section class="categories">
    <span> Cat1 </span>
    <span> Cat2 </span>
    <span> Cat3 </span>
    <span> Cat4 </span>
    <span> Cat5 </span>
  </section>
</header>
