<header>
  <nav>
    <logo />
    <div class='search-cnt'>
      <input placeholder='Търси по заглавие, категория, локация...' type='text' />
    </div>
    <div class='nav-buttons'>
      <button class='start-btn' routerLink='/initialize'>Създай оферта</button>

      <button *ngIf="!isLoggedIn" class='login-btn' routerLink='/login'>Вход</button>
      <button *ngIf="isLoggedIn" class='login-btn' routerLink='/account'>Моят профил</button>
    </div>
  </nav>
  <div class='results-container'>
  </div>
  <section class="categories">
    <span> Cat1 </span>
    <span> Cat2 </span>
    <span> Cat3 </span>
    <span> Cat4 </span>
    <span> Cat5 </span>
  </section>
</header>
