<header>
  <logo />
</header>
<main>
  <section>
    <h1>
      Вход
    </h1>
    <form [formGroup]='form' (ngSubmit)="onSubmit()">
      <input 
       placeholder='Имейл'
       type='email'
       formControlName='email'
       (input)='onChange()'
      />

      <div *ngIf="(form.get('email')?.invalid || isLoginInvalid) && isSubmited">
        <p *ngIf="form.get('email')?.hasError('required')">Това поле е задължително!</p>
        <p *ngIf="form.get('email')?.hasError('email')">Имейлът е невалиден!</p>
        <p *ngIf="isLoginInvalid"> Няма парола, съвпадаща с този имейл. </p>
      </div>
        
      <input 
       placeholder='Парола'
       type='password'
       formControlName='pass'
       (input)='onChange()'
      />
      <div *ngIf="(form.get('pass')?.invalid || isLoginInvalid) && isSubmited">
        <p *ngIf="form.get('pass')?.hasError('required')">Това поле е задължително!</p>
        <p *ngIf="form.get('pass')?.hasError('minlength')">Минимална дължина на паролата е 6 символа!</p>
      </div>
      <button>
        Вход
      </button>
    </form>
    <div>
      Нямате профил? <a href='/register'>Създайте си сега!</a>
    </div>
  </section>
</main>
