/* You can add global styles to this file, and also import other style files */
:root{
  --text-active: navy;
  --content-width: 1400px;
}
body.no-scroll{
  overflow: hidden;
}
@font-face{
  font-family: 'font';
  src: url('assets/fonts/Audex.ttf') format('truetype'),
       url('assets/fonts/AudexItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body, body *{
  font-family: 'font', sans-serif;
}

.default-header{
  width: 100%;
  display: grid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.default-main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.default-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-width);
}
.default-input{
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: white;
  padding: .3rem .6rem;
}
.default-input:hover::placeholder, .default-input:focus::placeholder{
  color: var(--text-active);
}
.default-button:not(.disabled){
  transition: all .1s ease;
  cursor: pointer;
}
.default-button:not(.disabled):hover{
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 18px rgba(0, 0, 0, .2);
}
.default-button:not(.disabled):active{
  transform: translate(0, 0);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.default-button.disabled{
  color: gray;
}
.offer-inner-text-content *{
  display: block;
  white-space: normal;
  max-width: min(800px, 90vw);
  font-size: min(1.2rem, max(1rem, 1.2vw));
  text-wrap: wrap;
  word-wrap: break-word;
  text-align: justify;
}
